@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.before {
  page-break-before: always;
}
.after {
  page-break-after: always;
}
.avoid {
  page-break-inside: avoid;
}
.img {
  background-image: url(header.jpg);
  height: 60vh;
  font-size: 30px;
  text-align: center;
  font-weight: "semi-bold" 600;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
section h1 {
  background-color: aliceblue;
  font-weight: 800;
  width: 100%;
}
body{

  background-color : rgb(11, 8, 20);
}
section {
  background-color: rgb(11, 8, 20);
  height: 130vh;
}
.text-description-y {
  display: flex;
  font-size: 12px;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  color: white;
  flex-direction: column;
  margin: 30px 50px;
  justify-content: space-around;
  height: 80vh;
}
p {
  text-align: justify;
}
.h-100 {
  height: 1056px;
}
.institution {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  align-items: center;
  color: white;
  width: 100%;
}
.institution img {
  width: 50px;
  height: 50px;
  object-fit: contain;

  background: #ffff;
  border-radius: 100%;
}

.img-info {
  width: 50%;
}
.mask {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: fit-content;
}
.mask h1 {
  font-size: 30px;
}
.row-info {
  color: #ffff;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 30px;
  align-items: center;
}
.row ul {
  text-align: left;
  width: 100%;
  padding-left: 60px;
}
.mascarilla p {
  text-align: justify;
  padding-left: 30px;
}
.mascarilla ul {
  padding-top: 20px;
  text-align: left;
  padding-left: 30px;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 30px;
}
.row img{
  align-self: flex-start;
  justify-self: start;
}
.row ul{
  justify-self: end;
   width: 50%;
}

.col-6 {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.row ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-mask {
  width: 196px;
}
.mask h2 {
  color: white;
}
.col-6 ul {
  text-align: left;
}
ul {
  color: white;
}
.img-clean{
  width: 40vw;
  
}

.clean{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}